 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="https://mazipan.github.io/login-page-css/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://mazipan.github.io/login-page-css/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://mazipan.github.io/login-page-css/favicon/favicon-16x16.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

<!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/signin.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>CodeGig</title>
</head>

<body>
  <header class="inner">
    <h2><a href="/"><i class="fas fa-code"></i>
        CodeGig</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/gigs">All Gigs</a>
        </li>
        <li>
          <a href="/gigs/add">Add Gig</a>
        </li>   
        <li>
          <a href="/resume">Resume</a>
        </li> 
        <li>
          <a href="/resume/add">Add resume</a>
        </li> 
        <li>
          <a href="/gigs/login"><i class="fas fa-user-alt"></i></a>
        </li>
      </ul>
    </nav>
  </header>

<div class="container">
    {{{body}}}
</div>




<!-- Footer -->
<footer class="bg-dark text-center text-white mt-3 foot">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
    <!-- Facebook -->
     <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" placeholder="Enter your email address" class="form-control" />
              <label class="form-label" for="form5Example21"></label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

   

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column1-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase fw-bold mb-3">
            <i class="fas fa-code"></i> CODE GIGS
          </h6>

          <ul class="list-unstyled mb-0">
          <p>
            Hire developers, find a good job, submit your gigs and fill up your 
            company vacancies with help of code gigs. 
          </p>
          </ul>
        </div>

        <!--Grid column2-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-3">TECHNOLOGIES</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <h6>javascript</h6>
            </li>
            <li>
              <h6>React</h6>
            </li>
            <li>
              <h6>NodeJs</h6>
            </li>
            <li>
              <h6>ExpressJs</h6>
            </li>
            <li>
              <h6>MongoDB</h6>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column3-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-3">LINKS</h5>

           <ul class="list-unstyled mb-0">
            <li>
              <h6>Home</h6>
            </li>
            <li>
              <h6>All gigs</h6>
            </li>
            <li>
              <h6>Add gigs</h6>
            </li>
          </ul>
        </div>
        <!--Grid column-->   

        <!--Grid column4-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-3">CONTACT US</h5>

           <ul class="list-unstyled mb-0">
            <p>Adichunchanagiri institute of technology, <br>Jyothinagar, Chikkmagalur</p>
            <p>Phone: 9632154780</p>
          </ul>
        </div>
        <!--Grid column-->     
      </div>
      <!--Grid row-->

    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

</footer>
<!-- Footer -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>