 <div class="upper">
        <div class="login-div">
            <form class="login">
                <h1>Login</h1>

                <div class="input-text">
                    <input type="text" id="inputEmail" name="email" placeholder="Username" />
                    <div class="warning-input" id="warningEmail">
                        Your username must contain between 4 and 60 characters.
                    </div>
                </div>

                <div class="input-text">
                    <input type="text" id="inputEmail" name="email" placeholder="Email or phone number" />
                    <div class="warning-input" id="warningEmail">
                        Please enter a valid email or phone number.
                    </div>
                </div>
                
                <div class="input-text" id="pass">
                    <input type="password" id="inputPassword" name="password" placeholder="Password" />
                    <div class="warning-input" id="warningPassword">
                        Your password must contain between 4 and 60 characters.
                    </div>
                </div>
                
                <div>
                    <a href="/gigs" class="login-button">&nbsp &nbsp Login &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</a>
                </div>
                <div class="remember-flex">
                    <div>
                        <input type="checkbox">
                        <label class="color_text">Remember me</label>
                    </div>
                </div>
                <div class="new-members">New to Codegig? &nbsp <a href="/gigs/signIn" class="signup-link">Sign up now</a>.
                </div>
                
            </form>
        </div>
    </div>